In [4]:
#Class exercises:

#Make a function that:

#    Create a data frame with this:

names=["Tomás", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]

dataDic = {'names': names, 'woman': woman, 'ages': ages, 'country': country, 'education': education}

import pandas
from pandas import DataFrame

people = DataFrame.from_dict(dataDic)

people

     names  woman  ages  country education
0    Tomás  False    32    Chile      Bach
1  Pauline   True    33  Senegal      Bach
2    Pablo  False    28    Spain    Master
3    Bjork  False    30   Norway       PhD
4     Alan  False    32     Peru      Bach
5    Juana   True    27     Peru    Master

In [7]:
#    Implement a for loop to get the count of men. Try using not in one solution and ~ in another one.
count = 0

for gender in people.woman:
    if gender != True:
        count += 1
count  # output: 4

4

In [1]:
# Homework
#    Implement a for loop to get the count of men that have a Bach degree in the data frame. I recommend the use of zip (somwehere)

maleBachList = []
maleBachList = [(female, degree) for female, degree in zip(people.woman, people.education)]

count = 0
for item in maleBachList:
    if (item[0] == False) & (item[1] == 'Bach'):
        count +=1

count  # output: 2



[(False, 'Bach'),
 (True, 'Bach'),
 (False, 'Master'),
 (False, 'PhD'),
 (False, 'Bach'),
 (True, 'Master')]



#    Implement a for loop to get the count of people whose current age is an even number.

count = 0;
for num in people.ages:
    if (num %2 == 0):
        count += 1

count  # Output: 4

NameError: name 'people' is not defined