In [101]:
#Class exercises:

#Make a function that:

#    Create a data frame with this:

names=["Tom치s", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]

dataDic = {'names': names, 'woman': woman, 'ages': ages, 'country': country, 'education': education}

import pandas
from pandas import DataFrame

people = DataFrame.from_dict(dataDic)

people

     names  woman  ages  country education
0    Tom치s  False    32    Chile      Bach
1  Pauline   True    33  Senegal      Bach
2    Pablo  False    28    Spain    Master
3    Bjork  False    30   Norway       PhD
4     Alan  False    32     Peru      Bach
5    Juana   True    27     Peru    Master

In [96]:
#    Create a list of tuples, where each tuple is a pair (name,country), using comprehensions
list1 = [(name, country) for name, country in zip(names, country)]
list1

[('Tom치s', 'Chile'),
 ('Pauline', 'Senegal'),
 ('Pablo', 'Spain'),
 ('Bjork', 'Norway'),
 ('Alan', 'Peru'),
 ('Juana', 'Peru')]

In [89]:
#    Implement a for loop to count how many peruvian there are in the data frame. 
#    Try using not in one solution and ~ in another one.
list2 = []
for country in country:
    if country == 'Peru':
        list2.append(country)
        
list2.count('Peru')

2

In [103]:
#    Implement a for loop to get the count of men. Try using not in one solution and ~ in another one.
manList = []

for gender in people.woman:
    if gender != True:
        manList.append(gender)
manList.count(False)

4

In [104]:
#Homework
#    Implement a for loop to get the count of men that have a Bach degree in the data frame. I recommend the use of zip (somwehere)
bachList = []
for degree in people.education:
    bachList.append(degree)
bachList.count('Bach')
#    Implement a for loop to get the count of people whose current age is an even number.

#Solve this in a new Jupyter notebook, and then upload it to GitHub. Name the notebook as 'hw_controlOfEx'.

3